@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
}

/* Start Header  */

header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url('../assets/img/etc/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

/* Start Navbar  */
.navbar{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    padding: 20px 30px;

    transition: all 0.7s;
}

.navmenus{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    padding: 5px 30px;
}

.menuitems{
    color:#eee;
    font-size: 13px;
    letter-spacing: 1px;

    transition: color 0.5s;
}

.menuitems:hover{
    color:#1a99e8;
}

.lines1,.lines2,.lines3{
    width: 23px;
    height: 3px;
    margin: 5px;

    transition: all 0.4s;
}

.changes .lines1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.changes .lines2{
    opacity: 0;
}

.changes .lines3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* End Navbar  */

/* Start Banner  */
.banners{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

}

.bannerheaders{
    animation-name: bnani;
    animation-duration: 2s;
};

.bannerparagraphs{
    animation-name: bnani;
    animation-duration: 2s;
    animation-delay: 0.5s;

    animation-fill-mode: backwards;

}

@keyframes bnani {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

/* End Banner  */
/* End Header  */

/* Start Mission Section */
.missions{
    background: #031c2b;
}

.underlines{
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}

.cameraimgs.fromlefts{
    animation-name:myanifromleft;
    animation-duration: 3s;

}

.missiontexts.fromrights{
    animation-name: myanifromright;
    animation-duration: 3s;
}

@keyframes myanifromleft{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes myanifromright{
    0%{
        transform: translate(30px);
        opacity: 0;
    }

    100%{
        transform:translate(0);
        opacity: 1;
    }
}
/* End Mission Section */


/* Start Collection section */
.card{
    position: relative;
}
.cardshadows{
    box-shadow: 5px 8px 20px #444;
}

.headings{
    width: 70%;
    background-color: #222;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;

    position: absolute;
    top: 70%;
    right: 0;
    opacity: 0.7;
    transition: all 0.5s;
}
.headings:hover{
    opacity: 1;
}
/* End Collection section */


/* Start Gallery Section */
.darkunderlines{
    width: 150px;
    border: 3px solid #aaa;
    margin: auto;
}

.gallerylists{
    color: #777;
    cursor: pointer;
}
.gallerylists.activeitems{
    color: #06b7bd;
}
/* End Gallery Section */

/* Start Customers Section */
.customers{
    background-color: #17111f;
}
/* End Customers Section */



